    *{
        color: #363958;
    }
    
    .btn-color{
        background-color: #fa404c;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
    }
    .card-footer{
        border: none;
        background-color: white;
    }
   .fonts1{
    font-family: 'Yusei Magic', sans-serif;
   }
    .card{
        border-radius: 8px;
    }
    #nike{
        color: #fa804c;
        font-family: 'Yusei Magic', sans-serif;
    }
    .bgcolor,.bgout{
        background-color: #fff9f4;
    }
    .image-size{
        width: 80%!important;
    }
    .card-bg1{
        background-image: linear-gradient(to bottom,#f1d89f , #d6a62e);
       
        border-radius: 10px;
    }
    .card-bg2{
        background-image: linear-gradient(to bottom, #94cedc , #28a3b5);
       
        border-radius: 10px;
    }
    .card-bg3{
        background-image: linear-gradient(to bottom,#eab9bc , #c67e82);
       
        border-radius: 10px;
    }
    
    .contact{
        background-color: #fceae8;
        padding: 66px;
    }
  .gmail{
      padding-right: 88px;
  }
  .stay{
      padding-right: 28px;
  }
  .gmail-bar{
      padding-left: 88px;
  }
  .image-style{
    margin-top: 100px;
}
